<h2>APP COMPONENT</h2>

<button [routerLink]="['home']" routerLinkActive="btn-active">Go Home</button>
<button
  [routerLink]="['profile', '23']"
  [queryParams]="{ name: 'makes' }"
  routerLinkActive="btn-active"
>
  Go Profile
</button>
<button (click)="goAbout()" routerLinkActive="btn-active">Go About</button>

<button [routerLink]="['child']" routerLinkActive="btn-active">Go Child</button>

<button [routerLink]="['product']" routerLinkActive="btn-active">
  Go Product
</button>

<button [routerLink]="['invalidurl']" routerLinkActive="btn-active">
  Go Invalid URL
</button>

<hr />
<router-outlet></router-outlet>
